Repository DEPthes/MJU-Council-Admin, pull requests merged in 2024-12, with the labels that each got.

#5 [feat/#2] 로그인페이지 UI 구현
  src/App.css
  src/Router.tsx
  src/assets/image/View_hide_light.svg
  src/assets/image/View_light.svg
  src/assets/react.svg
  src/components/Login/Login.tsx
  src/index.css
  src/styles/Login/Login.ts
Labels: ✨ Feature, 🎨 Html&css

#7 [feat/#6] 메인페이지UI구현
  src/Router.tsx
  src/assets/image/Add.svg
  src/assets/image/Close.svg
  src/assets/image/Council_logo.svg
  src/assets/image/Div_bar.svg
  src/assets/image/Instagram.svg
  src/assets/image/KakaoTalk.svg
  src/assets/image/Mail.svg
  src/assets/image/Manager.svg
  src/assets/image/NavDivRect.svg
  src/assets/image/Nav_logo.svg
  src/assets/image/Phone.svg
  src/components/Home/Banner/AddBanner.tsx
  src/components/Home/Banner/AddBtn.tsx
  src/components/Home/Banner/RemoveModal.tsx
  src/components/Home/Footer/FixFooterBtn.tsx
  src/components/Home/Footer/Footer.tsx
  src/components/Home/NavBar.tsx
  src/pages/Footer/FooterPage.tsx
  src/pages/Home.tsx
  src/pages/Home/HomePage.tsx
  src/styles/Home/Banner/AddBannerComponentStyle.ts
  src/styles/Home/Banner/AddBtnComponentStyle.ts
  src/styles/Home/Banner/RemoveModalComponentSytle.ts
  src/styles/Home/Component/NavBarComponentStyle.ts
  src/styles/Home/Footer/FixFooterBtnComponentStyle.ts
  src/styles/Home/Footer/FooterComponentStyle.ts
  src/styles/Home/Page/HomePageStyle.ts
Labels: ✨ Feature, 🎨 Html&css

#11 [Feat/#4]사업 목록 페이지 UI 구현
  src/Router.tsx
  src/assets/common/Add.svg
  src/assets/common/Arrow.svg
  src/assets/common/Attachment.svg
  src/assets/common/Clip.svg
  src/assets/common/Close.svg
  src/assets/common/Home.svg
  src/assets/common/ImageDeleteButton.svg
  src/assets/common/Interface.svg
  src/assets/common/PageDoubleIcon.svg
  src/assets/common/PageIcon.svg
  src/assets/common/Search.svg
  src/assets/common/TextBanner.svg
  src/assets/common/index.ts
  src/components/ActivityReport/BusinessLlist/BusinessFileComponent.tsx
  src/components/ActivityReport/BusinessLlist/BusinessListComponent.tsx
  src/components/ActivityReport/BusinessLlist/BusinessListItem.tsx
  src/components/ActivityReport/BusinessLlist/NewBusinessFileComponent.tsx
  src/components/ActivityReport/PolicyList/PolicyHeader.tsx
  src/components/ActivityReport/PolicyList/PolicyNewHeader.tsx
  src/components/ActivityReport/PolicyList/PolicyPromiseItem.tsx
  src/components/Layout.tsx
  src/components/common/Button/CancelButton.tsx
  src/components/common/Button/DeleteButton.tsx
  src/components/common/Button/FixButton.tsx
  src/components/common/Button/OkButton.tsx
  src/components/common/Button/PostCancelButton.tsx
  src/components/common/Button/SubmitButton.tsx
  src/components/common/CheckModal.tsx
  src/components/common/DeleteModal.tsx
  src/components/common/PageComponent.tsx
  src/constants/pathToKoreanMap.ts
  src/index.css
  src/pages/ActivityReport/BusinessDetailPage.tsx
  src/pages/ActivityReport/BusinessFixPage.tsx
  src/pages/ActivityReport/BusinessListPage.tsx
  src/pages/ActivityReport/NewBusinessPage.tsx
  src/styles/ActivityReport/BusinessList/BusinessDetailStyle.ts
  src/styles/ActivityReport/BusinessList/BusinessListComponentStyle.ts
  src/styles/ActivityReport/BusinessList/BusinessListItemStyle.ts
  src/styles/ActivityReport/BusinessList/BusinessListPageComponentStyle.ts
  src/styles/ActivityReport/BusinessList/BusinessListPageStyle.ts
  src/styles/ActivityReport/BusinessList/NewBusinessFileComponentStyle.ts
  src/styles/ActivityReport/BusinessList/NewBusinessPageStyle.ts
  src/styles/ActivityReport/PolicyList/PolicyListPageStyle.ts
  src/styles/ActivityReport/PolicyList/PolicyPromiseComponentStyle.ts
  src/styles/Layout.ts
  src/styles/common/Button/PostCancelButtonStyle.ts
  src/styles/common/CheckModalStyle.ts
  src/styles/common/PageComponenStyle.ts
  src/types/ActivityReport/Business/businessDetailType.ts
  src/types/ActivityReport/Business/index.ts
  src/utils/parseUrlToArray.ts
Labels: ✨ Feature, 🎨 Html&css

#13 feat: TextBanner 제작
  src/Router.tsx
  src/components/Layout.tsx
  src/components/common/TextBanner.tsx
  src/index.css
  src/pages/Home/HomePage.tsx
  src/styles/Layout.ts
Labels: ✨ Feature, 🎨 Html&css

#16 [fix/#15] 로그인페이지 수정
  src/Router.tsx
  src/components/Footer/InfoInput.tsx
  src/components/Layout.tsx
  src/components/Login/Login.tsx
  src/components/NavBar/NavBar.tsx
  src/pages/Home/HomePage.tsx
  src/styles/Footer/FooterPageComponentStyle.ts
  src/styles/Footer/InfoInputComponentStyle.ts
  src/styles/Login/Login.ts
  src/styles/NavBar/NavBarComponentStyle.ts
Labels: 🐞 BugFix

#23 [feat/#19] 버튼 분리 작업 및 공지사항 리스트 조회 페이지 제작
  .gitignore
  package-lock.json
  package.json
  src/App.tsx
  src/Router.tsx
  src/apis/notice.ts
  src/components/common/Button/BigBlueButton.tsx
  src/components/common/Button/BigWhiteButton.tsx
  src/components/common/Button/BlueButton.tsx
  src/components/common/Button/DeleteButton.tsx
  src/components/common/Button/FixButton.tsx
  src/components/common/Button/WhiteButton.tsx
  src/components/common/CheckModal.tsx
  src/components/common/DeleteModal.tsx
  src/components/common/List/ListItem.tsx
  src/hooks/notice/useNotice.ts
  src/hooks/notice/useNotices.ts
  src/pages/News/NewNoticePage.tsx
  src/pages/News/NoticeListPage.tsx
  src/styles/ActivityReport/PolicyList/PolicyDeleteModalStyle.ts
  src/styles/News/NoticePageStyle.ts
  src/styles/common/Button/ButtonStyle.ts
  src/styles/common/Button/CancelButtonStyle.ts
  src/styles/common/Button/SubmitButtonStyle.ts
  src/styles/common/List/ListItemStyle.ts
  src/types/News/notice.ts
  src/types/common.ts
  src/vite-env.d.ts
  tsconfig.app.json
  vite.config.ts
Labels: ✨ Feature, 🎨 Html&css, 🔨 Refactor

#26 [feat/#19] 공지사항 페이지 UI 개발 및 API 연동 구현
  src/Router.tsx
  src/apis/notice.ts
  src/components/common/CheckModal.tsx
  src/components/common/Write/AddFileButton.tsx
  src/components/common/Write/AddImageContainer.tsx
  src/pages/News/NewNoticePage.tsx
  src/pages/News/NoticeDetailPage.tsx
  src/pages/News/NoticeEditPage.tsx
  src/pages/News/NoticeListPage.tsx
  src/styles/common/WriteStyle.ts
  src/types/News/notice.ts
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#27 [feat/#21] 회의록 페이지 UI 개발 및 API 연동 구현
  src/Router.tsx
  src/apis/minutes.ts
  src/components/common/Write/AddFileButton.tsx
  src/hooks/minutes/useMinutes.ts
  src/hooks/minutes/useMinutesDetail.ts
  src/pages/Document/MinutesDetailPage.tsx
  src/pages/Document/MinutesEditPage.tsx
  src/pages/Document/MinutesListPage.tsx
  src/pages/Document/NewMinutesPage.tsx
  src/types/Document/minutes.ts
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#29 [feat/#20] 행사 페이지 UI 개발 및 API 연동 구현
  src/Router.tsx
  src/apis/event.ts
  src/components/ActivityReport/Coalition/CoalitionComponent.tsx
  src/components/News/EventGuideItem.tsx
  src/components/common/Detail/DetailHeader.tsx
  src/components/common/List/GridItemContainer.tsx
  src/hooks/event/useEvent.ts
  src/hooks/event/useEventGuide.ts
  src/hooks/event/useEvents.ts
  src/pages/ActivityReport/CoalitionListPage.tsx
  src/pages/Document/MinutesListPage.tsx
  src/pages/Document/RegulationsListPage.tsx
  src/pages/News/EventDetailPage.tsx
  src/pages/News/EventEditPage.tsx
  src/pages/News/EventGuideDetailPage.tsx
  src/pages/News/EventGuideEditPage.tsx
  src/pages/News/EventListPage.tsx
  src/pages/News/NewEventGuidePage.tsx
  src/pages/News/NewEventPage.tsx
  src/pages/News/NoticeListPage.tsx
  src/styles/ActivityReport/Coalition/CoalitionPageStyle.ts
  src/styles/News/EventGuideItemStyle.ts
  src/styles/common/DetailStyle.ts
  src/styles/common/List/GridItemContainerStyle.ts
  src/styles/common/ListPageStyle.ts
  src/styles/common/WritePageStyle.ts
  src/styles/common/WriteStyle.ts
  src/types/News/event.ts
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#31 [feat/#20] 행사 세부사항 API 파일 추가
  src/apis/event.ts
  src/apis/index.ts
  src/apis/minutes.ts
  src/apis/notice.ts
  src/apis/regulations.ts
  src/pages/News/EventGuideDetailPage.tsx
  src/pages/News/EventGuideEditPage.tsx
  src/pages/News/NewEventGuidePage.tsx
  src/types/News/event.ts
  vite.config.ts
Labels: 📬 API

#32 [fix] patch 메소드 put으로 수정
  src/apis/index.ts
  src/apis/minutes.ts
  src/apis/regulations.ts
  src/pages/Document/MinutesEditPage.tsx
  src/pages/Document/RegulationsEditPage.tsx
  src/types/Document/minutes.ts
  src/types/Document/regulations.ts
Labels: 📬 API

#34 Feat/#30 정책목록 api
  src/apis/ActivityReport/business.ts
  src/apis/ActivityReport/coalition.ts
  src/apis/ActivityReport/policy.ts
  src/apis/index.ts
  src/apis/regulations.ts
  src/components/ActivityReport/PolicyList/NewPolicyPromiseItem.tsx
  src/components/ActivityReport/PolicyList/PolicyHeader.tsx
  src/components/ActivityReport/PolicyList/PolicyMenuBar.tsx
  src/components/ActivityReport/PolicyList/PolicyNewHeader.tsx
  src/components/ActivityReport/PolicyList/PolicyPromiseComponent.tsx
  src/components/ActivityReport/PolicyList/PolicyPromiseItem.tsx
  src/hooks/activityReport/useBusiness.ts
  src/hooks/activityReport/useCoalition.ts
  src/hooks/activityReport/usePolicyCategory.ts
  src/hooks/activityReport/usePromise.ts
  src/pages/ActivityReport/PolicyListPage.tsx
  src/styles/ActivityReport/PolicyList/PolicyPromiseComponentStyle.ts
  src/styles/common/Button/CancelButtonStyle.ts
  src/styles/common/Button/SubmitButtonStyle.ts
  src/types/ActivityReport/Policy/index.ts
  src/types/ActivityReport/Policy/policy.ts
Labels: 📬 API

#36 Feat/#33 사업목록 api
  src/apis/ActivityReport/business.ts
  src/apis/ActivityReport/policy.ts
  src/apis/index.ts
  src/components/ActivityReport/BusinessLlist/BusinessListComponent.tsx
  src/components/ActivityReport/PolicyList/NewPolicyPromiseItem.tsx
  src/components/ActivityReport/PolicyList/PolicyHeader.tsx
  src/components/ActivityReport/PolicyList/PolicyMenuBar.tsx
  src/components/ActivityReport/PolicyList/PolicyPromiseItem.tsx
  src/hooks/activityReport/useBusiness.ts
  src/hooks/activityReport/usePolicyCategory.ts
  src/hooks/activityReport/usePromise.ts
  src/pages/ActivityReport/BusinessDetailPage.tsx
  src/pages/ActivityReport/BusinessFixPage.tsx
  src/pages/ActivityReport/BusinessListPage.tsx
  src/pages/ActivityReport/NewBusinessPage.tsx
  src/types/ActivityReport/Business/index.ts
  src/types/ActivityReport/business.ts
  src/types/ActivityReport/policy.ts
Labels: 📬 API

#38 Feat/#37재휴 api
  src/apis/ActivityReport/coalition.ts
  src/apis/index.ts
  src/components/common/Detail/ImageView.tsx
  src/components/common/Write/ViewFileComponent.tsx
  src/hooks/activityReport/useCoalition.ts
  src/pages/ActivityReport/BusinessFixPage.tsx
  src/pages/ActivityReport/CoalitionDetailPage.tsx
  src/pages/ActivityReport/CoalitionFixPage.tsx
  src/pages/ActivityReport/CoalitionListPage.tsx
  src/pages/ActivityReport/NewCoalitionPage.tsx
  src/styles/common/WritePageStyle.ts
  src/types/ActivityReport/Business/index.ts
  src/types/ActivityReport/Coalition/index.ts
  src/types/ActivityReport/businessDetailType.ts
  src/types/ActivityReport/coalition.ts
Labels: 📬 API

#41 Feat/#40 login
  src/Router.tsx
  src/apis/index.ts
  src/apis/login.ts
  src/components/ActivityReport/PolicyList/PolicyNewHeader.tsx
  src/components/Login/Login.tsx
  src/components/NavBar/NavBar.tsx
  src/hooks/useLogin.ts
  src/types/login.ts
Labels: 📬 API

#42 Feat/#35 정책 목록 수정 api
  src/apis/ActivityReport/policy.ts
  src/components/ActivityReport/PolicyList/NewPolicyPromiseItem.tsx
  src/components/ActivityReport/PolicyList/PolicyHeader.tsx
  src/components/ActivityReport/PolicyList/PolicyPromiseItem.tsx
  src/hooks/activityReport/usePolicyCategory.ts
  src/hooks/activityReport/usePromise.ts
Labels: 📬 API

#47 Fix/#46 제휴 오류 수정
  src/apis/ActivityReport/coalition.ts
  src/components/common/Write/AddFileButton.tsx
  src/components/common/Write/AddImageContainer.tsx
  src/pages/ActivityReport/CoalitionListPage.tsx
  src/pages/ActivityReport/NewCoalitionPage.tsx
  src/styles/ActivityReport/Coalition/CoalitionPageStyle.ts
  src/styles/common/WritePageStyle.ts
  src/styles/common/WriteStyle.ts
Labels: 🐞 BugFix

#50 [Fix/#49] 소개페이지 layout 수정
  src/Router.tsx
  src/components/NavBar/NavBar.tsx
  src/styles/Footer/FooterPageComponentStyle.ts
  src/styles/Home/Banner/RemoveModalComponentSytle.ts
  src/styles/Introduction/CentralCommitee/CentralCommiteeComponentStyle.ts
  src/styles/Introduction/EachPart/EachPartComponentStyle.ts
Labels: 🎨 Html&css

#53 [fix/#52] 행사 페이지 QA 수정
  src/apis/regulations.ts
  src/components/NavBar/NavBar.tsx
  src/components/common/Button/WhiteButton.tsx
  src/components/common/List/ListBtnContainer.tsx
  src/constants/pathToKoreanMap.ts
  src/pages/ActivityReport/BusinessListPage.tsx
  src/pages/ActivityReport/CoalitionFixPage.tsx
  src/pages/ActivityReport/CoalitionListPage.tsx
  src/pages/ActivityReport/NewCoalitionPage.tsx
  src/pages/Document/MinutesListPage.tsx
  src/pages/Document/RegulationsDetailPage.tsx
  src/pages/Document/RegulationsListPage.tsx
  src/pages/News/EventEditPage.tsx
  src/pages/News/EventListPage.tsx
  src/pages/News/NewEventPage.tsx
  src/pages/News/NoticeListPage.tsx
  src/styles/common/Button/ButtonStyle.ts
Labels: 🐞 BugFix

#55 Fix/#51 정책 수정
  src/apis/ActivityReport/policy.ts
  src/components/ActivityReport/PolicyList/NewPolicyPromiseItem.tsx
  src/components/ActivityReport/PolicyList/PolicyPromiseItem.tsx
  src/components/common/Button/SubmitButton.tsx
  src/hooks/activityReport/usePromise.ts
  src/styles/ActivityReport/PolicyList/PolicyPromiseItemStyle.ts
Labels: 📬 API

#57 Fix/#51 사업 목록 수정
  src/apis/ActivityReport/business.ts
  src/components/ActivityReport/BusinessLlist/BusinessListComponent.tsx
  src/pages/ActivityReport/BusinessFixPage.tsx
  src/pages/ActivityReport/BusinessListPage.tsx
  src/styles/common/PageComponenStyle.ts
Labels: 🐞 BugFix

#58 fix: 파일 추가/삭제 후 등록
  src/pages/ActivityReport/CoalitionFixPage.tsx
Labels: 🐞 BugFix

#60 fix: 삭제 모달 추가
  src/components/ActivityReport/PolicyList/PolicyPromiseItem.tsx
Labels: 🐞 BugFix

#62 [fix/#61] footer 페이지 이슈 수정
  src/Router.tsx
  src/components/ActivityReport/PolicyList/PolicyPromiseComponent.tsx
  src/components/ActivityReport/PolicyList/PolicyPromiseItem.tsx
  src/components/Footer/Footer.tsx
  src/components/Footer/InfoInput.tsx
  src/components/Introduction/CentralCommitee/AddCollageContent.tsx
  src/components/Introduction/CentralCommitee/CentralCommiteeEachInput.tsx
  src/components/Layout.tsx
  src/components/NavBar/NavBar.tsx
  src/pages/ActivityReport/PolicyListPage.tsx
  src/pages/Footer/FooterPage.tsx
  src/pages/Introduction/CentralCommiteePage.tsx
  src/pages/Introduction/EachPartPage.tsx
  src/pages/Introduction/IntroductionPage.tsx
  src/pages/Introduction/OrganizationPage.tsx
  src/styles/Footer/InfoInputComponentStyle.ts
  src/styles/NavBar/NavBarComponentStyle.ts
Labels: 🐞 BugFix

#64 [fix/#63] footer 사진 연동 에러 수정
  src/apis/home.ts
Labels: 🐞 BugFix

#65 [Deploy] 메인 빌드 배포
  src/apis/home.ts
Labels: 🌏 Deploy
